.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background: url(../images/hero/hero-bg.png) no-repeat top;
  background-size: auto;
  color: white;

  &__container {
    justify-content: space-between;
  }

  &__navbar {
    gap: 15px;
  }

  &__list {
    display: flex;
    gap: 20px;
  }

  &__link {
    font-size: 14px;
    font-weight: 700;
    transition: 0.4s;

    &:hover {
      color: $primary-color;
    }
  }

  &__menu {
    display: none;
    background-color: transparent;
  }

  &__content {
    display: flex;
    gap: 30px;
  }

  &__content__left {
    display: flex;
    align-items: center;
    gap: 21px;
  }

  &__content__right {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &__content__contact {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__content__call {
    font-weight: 700;
  }

  &__content__text {
    max-width: 154px;
    font-size: 14px;
    font-weight: 400;
  }

  &__content__line {
    display: inline-block;
    width: 1px;
    height: 51px;
    background-color: #fff;
  }

  &__btn {
    @include button(true);
    margin-left: 30px;
  }
}

@media (max-width: 960px) {
  .header {
    &__navbar {
      position: fixed;
      top: 0;
      left: -100%;
      background-color: black;
      width: 60%;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 10px gray;
      transition: 0.4s;
      z-index: 9999;
    }

    &__list {
      flex-direction: column;
      align-items: center;
    }

    &__content {
      flex-direction: column;
      align-items: center;
    }

    &__content__text {
      text-align: center;
    }

    &__menu {
      display: flex;
    }

    &__show-list {
      left: 0;
    }
  }
}
